<script type="text/javascript">

    $(window).load(function(){
        $('#myModal').modal('show');
    });

</script>


<% if session[:user_id].nil? %>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="myModalLabel" style="color: darkred;">Access Denied</h4>
      </div>
      <div class="modal-body text-center " style="color: gray;">
      	<p class="glyphicon glyphicon-ban-circle text-center" style="color: darkred; font-size: 25px;"></p><br>
      	<b>
        You have to be signed in to create an event!<br>
        Please either sign in or create an account.
    </b>
      </div>
      <div class="modal-footer">
        <%= link_to 'Login', new_user_session_path, :class => 'btn btn-default' %>
        <%= link_to 'Signup', new_user_path, :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<% end %>

<div class="container new-concert">
	<div class="row concert-form">
		<div class="col-sm-3">
			<h3>Create A New Event</h3>
			<hr>
		</div>

		<div class="col-sm-4">
			<%= form_for [@user, @concert] do |f| %>
				<br>
				<%= f.label 'Artist' %>
				<br>
				<%= f.text_field 'artist', :class => 'form-field' %>
				<br><br>
				<%= f.label 'Venue' %>
				<br>
				<%= f.text_field 'venue', :class => 'form-field' %>
				<br><br>
				<%= f.label 'Where (City, State)' %>
				<br>
				<%= f.text_field 'city', :class => 'form-field' %>
				<br><br>
				<%= f.label 'Date' %>
				<br>
				<%= f.date_field 'date', :class => 'form-field', :style => 'color: black;' %>
				<br><br>
				<%= f.label 'Price' %>
				<br>
				<%= f.number_field :price, :step => 0.01, :class => 'form-field', :style => 'height: 35px;' %>
				<br><br>
				<%= f.label 'Description' %>
				<br>
				<%= f.text_field 'description', :class => 'form-field' %>
				<br><br>
				<%= f.submit 'Create', :class => 'btn btn-primary' %>
				<br><br>
				<% end %>
		</div>


	</div>
</div>
